<h2>Contact Bethany's Pie Shop</h2>

<p>If you have any questions, please don't hesitate to get in touch. Click below to send mail</p>
<email address="info@@bethanyspieshop.com" content="Contact Us"></email>